[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
autopep8 = "*"
fastapi = {extras = ["all"], version = "*"}
alembic = "*"
pytz = "*"
fastapi-crudrouter = "*"
fastapi-users-db-sqlalchemy = "*"

[dev-packages]

[requires]
python_version = "3.10"
